* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --cerulean-crayola: #05b2dc;
  --maize-crayola: #f7c548;
  --dark-slate-gray: #255957;
  --beige: #eeebd3;
  --gradient1: linear-gradient(2deg, #f7c548 0%, #05b2dc 100%);
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* components start */
.heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.05em;
  color: var(--dark-slate-gray);
}

.heading--awesome {
  font-size: 65px;
  line-height: 69px;
  background-color: var(--maize-crayola);
  background-image: linear-gradient(45deg, var(--maize-crayola), var(--cerulean-crayola));
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.05em;
  color: var(--dark-slate-gray);
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: var(--dark-slate-gray);
}

.body {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-slate-gray);
}

.body--light {
  color: var(--beige);
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.05em;
  color: var(--dark-slate-gray);
  text-decoration: none;
}

.shadow {
  filter: drop-shadow(0px 16px 80px rgba(37, 89, 87, 0.25));
}

.text-center {
  text-align: center;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--dark-slate-gray);
  color: var(--beige);
  text-decoration: none;
  font-size: 14px;
  outline: none;
  border: none;
}

.button--outline {
  background-color: transparent;
  border: 1px solid var(--cerulean-crayola);
  color: var(--cerulean-crayola);
}


.search-bar {
  border: 1px solid var(--dark-slate-gray);
  border-radius: 8px;
  padding: 10px 14px 10px 42px;
  font-size: 14px;
  min-width: 320px;
  outline: none;
  background-image: url("../icons/magnifier.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 14px;
}

.avatar {
  display: flex;
  gap: 10px;
}

.avatar__content {
  font-size: 15px;
  color: var(--dark-slate-gray);
  font-weight: 500px;
}

.form__item {
  display: flex;
  flex-direction: column;
  color: var(--dark-slate-gray);
  margin-bottom: 15px;
}

.form__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px; 
}

.form__item>input {
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--dark-slate-gray);
  padding: 10px 14px;
}

.form__errors {
  width: 320px;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--beige);
  background-color: #d44d4d;
  margin-bottom: 18px;
}

/* components end */

/* header start */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 60px 0px;
  margin: auto;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__brand {
  width: 190px;
}

.header__navbar {
  display: flex;
  gap: 24px;
}

.header__extra {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar__item {
  text-decoration: none;
  color: var(--dark-slate-gray);
  font-weight: 500;
  font-size: 15px;
  color: var(--dark-slate-gray);
  font-weight: 500px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: -0.05em;
}

.navbar__item--logout {
  color: #78a7a5;
}

.header__cart {
  color: var(--dark-slate-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: -0.05em;
}

/* header end */

/* home start */

.home {
  width: 90%;
  margin: auto;
}

.hero__wrapper {
  background: radial-gradient(65.33% 159.92% at 5.74% 13.1%, #05B2DC 0%, #255957 100%);
  border-radius: 30px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}

.hero__wrapper::after {
  position: absolute;
  content: '';
  top: 30px;
  right: -40px;
  background-image: url("../images/pattern1.svg");
  width: 204px;
  height: 280px;
}

.hero__wrapper::before {
  position: absolute;
  content: '';
  bottom: -35px;
  left: -40px;
  background-image: url("../images/pattern2.svg");
  width: 204px;
  height: 280px;
}

.home__categories {
  margin: 100px 0px;
}

.home__categories .categories__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.home__categories .categories__collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home__categories .category__picture img {
  width: 100%;
  border-radius: 15px;
}

.home__categories .category__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}

/* home end */

/* category start */
.category {
  width: 90%;
  margin: auto;
}

.category__header {
  border-radius: 30px;
  margin-bottom: 37px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.category__wrapper {
  background: linear-gradient(91.48deg, rgba(37, 89, 87, 0.7) 5.91%, rgba(37, 89, 87, 0) 96.3%);
  width: 100%;
  height: 100%;
  padding: 43px 34px;
  border-radius: 30px;
  min-height: 250px;
}

/* category end */

/* login start */
.login {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__content {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 35px
}

.login__links {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.login__aside {
  width: 100%;
  max-width: 672px;
  height: 100%;
  background-image: url('../images/login-bg.jpg');
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 30px 0px 0px 0px;
}

/* login end */

/* footer start */

.footer {
  background-color: var(--dark-slate-gray);
  color: var(--beige);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0px;
  width: 90%;
  margin: auto;
}

.menu__item {
  text-decoration: none;
  color: var(--beige);
  margin-left: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: -0.05em;
}

.footer__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

/* footer end */