{% extends "base.html" %}

{% block content %}
  <main class="home">
    <section class="home__hero">
      <div class="home__wrapper">
        <h1>Find the best products of premium brands.</h1>
        <p>Simply the best electronics store of the 21st century, find the best brands at the best price.</p>
        <div>
          <a href="">Create an account</a>
          <a href="">Sign In</a>
        </div>
      </div>
    </section>
    <section class="home__categories">
      <div class="categories__header">
        <h2>Categories</h2>
        <input type="search" placeholder="Search">
      </div>
      <div class="categories__collection">
        <div class="category">
          <picture class="category__picture">
            <img src="" alt="Clothes">
          </picture>
          <div class="category__content">
            <h3>Clothes</h3>
            <a href="">See products</a>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
